# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file contains variable values for your Terraform deployment.
# Please review and update values as necessary.

#--------------------------------------------- Project & Region Configuration ---------------------------------------------#

project_id = "{{ project_id }}"
region     = "{{ region }}"
app_name = "{{ suffix }}"

#--------------------------------------------- Kubernetes Service Account for GKE Nodes ---------------------------------------------#

kubernetes_sa_account_id   = "beckn-onix-gke-sa-{{ suffix }}"
kubernetes_sa_display_name = "SA for Beckn Onix GKE"
kubernetes_sa_description  = "Service Account for Beckn GKE"
kubernetes_sa_roles = [
  "roles/redis.viewer",
  "roles/cloudtrace.agent",
  "roles/compute.instanceAdmin.v1",
  "roles/compute.networkAdmin",
  "roles/editor",
  "roles/container.admin",
  "roles/pubsub.admin",
  "roles/pubsub.publisher",
  "roles/pubsub.viewer",
  "roles/secretmanager.admin",
  "roles/secretmanager.secretAccessor",
  "roles/iam.serviceAccountAdmin",
  "roles/iam.serviceAccountTokenCreator",
  "roles/iam.securityAdmin",
  "roles/resourcemanager.projectIamAdmin"
]

#--------------------------------------------- Network Configuration ---------------------------------------------#

network_name        = "beckn-onix-network-{{ suffix }}"
network_description = "network for beckn onix"
subnet_name         = "beckn-onix-gke-subnet-{{ suffix }}"
subnet_description  = "subnet for beckn gke"
ip_cidr_range       = "10.0.0.0/17"
range_name          = "onix-gke-pods"
ip_range            = "10.0.128.0/21"
range_name_1        = "onix-gke-services"
ip_range_1          = "10.0.136.0/21"

#--------------------------------------------- GKE Cluster Configuration ---------------------------------------------#

cluster_name       = "beckn-onix-cluster-{{ suffix }}"
cluster_description = "cluster for beckn onix"
initial_node_count = 1
master_ipv4_cidr_block  = "172.0.0.0/28"
master_access_cidr_block = "0.0.0.0/0"
display_name       = "cluster access IPs"

#--------------------------------------------- GKE Node Pool Configuration ---------------------------------------------#

node_pool_name    = "beckn-onix-node-pool"
reg_node_location = [ "{{ region }}-a", "{{ region }}-b", "{{ region }}-c" ]
max_pods_per_node = 50
disk_size         = 50
disk_type         = "pd-standard"
image_type        = "cos_containerd"
pool_labels = {
  service = "adapter"
}
machine_type  = "{{ "n2-standard-4" if deployment_size == "small" else "n2-standard-8" }}"
node_count    = 1
min_node_count = 1
max_node_count = 8

#--------------------------------------------- Router & NAT Configuration ---------------------------------------------#

router_name        = "beckn-onix-router-{{ suffix }}"
router_description = "router for beckn onix"
nat_name           = "beckn-onix-nat-{{ suffix }}"

#--------------------------------------------- Application Namespace Configuration ---------------------------------------------#

app_namespace_name = "beckn-onix"

#--------------------------------------------- Nginx Ingress Controller Configuration ---------------------------------------------#

nginix_ingress_release_name = "ingress-nginx"
nginix_ingress_repository   = "https://kubernetes.github.io/ingress-nginx"
nginix_namespace_name       = "ingress-nginx"
nginix_ingress_chart        = "ingress-nginx"

#--------------------------------------------- Health Check Configuration ---------------------------------------------#

health_check_name        = "beckn-onix-health-check-{{ suffix }}"
health_check_description = "health check for beckn onix"

#--------------------------------------------- Backend Service Configuration ---------------------------------------------#

backend_service_name        = "beckn-onix-backend-{{ suffix }}"
backend_service_description = "beckn onix backend service"

#--------------------------------------------- Firewall Rules Configuration ---------------------------------------------#

http_firewall_name        = "allow-health-check-{{ suffix }}"
http_firewall_description = "allow http traffic for health check"
http_firewall_direction   = "INGRESS"
http_allow_protocols      = "tcp"
http_allow_ports          = ["80"]
source_ranges             = ["35.191.0.0/16"]

allow_http_firewall_name        = "allow-http-{{ suffix }}"
allow_http_firewall_description = "allow http from internet"
allow_http_firewall_direction   = "INGRESS"
allow_http_allow_protocols      = "tcp"
allow_http_allow_ports          = ["80"]
http_source_ranges              = ["0.0.0.0/0"]

allow_https_firewall_name        = "allow-https-{{ suffix }}"
allow_https_firewall_description = "allow https from internet"
allow_https_firewall_direction   = "INGRESS"
allow_https_allow_protocols      = "tcp"
allow_https_allow_ports          = ["443"]
https_source_ranges              = ["0.0.0.0/0"]

#--------------------------------------------- Global IP & URL Map Configuration ---------------------------------------------#

global_ip_name        = "beckn-onix-global-ip-{{ suffix }}"
global_ip_description = "ip for beckn onix lb"
global_ip_labels = {
  "name" = "onix-lb-ip"
}

url_map_name        = "beckn-onix-lb-{{ suffix }}"
url_map_description = "url map for beckn onix lb"

#--------------------------------------------- Private VPC Access Configuration ---------------------------------------------#

vpc_peering_ip_name         = "beckn-onix-vpc-peer-{{ suffix }}"
vpc_peering_ip_purpose      = "VPC_PEERING"
vpc_peering_ip_address_type = "INTERNAL"
vpc_peering_prefix_length   = 16

#--------------------------------------------- Redis Instance Configuration ---------------------------------------------#

instance_name        = "beckn-onix-redis-{{ suffix }}"
memory_size_gb       = 1
instance_tier        = "BASIC"
instance_region       = "{{ region }}"
instance_location_id = "{{ region }}-a"
instance_connect_mode = "PRIVATE_SERVICE_ACCESS"

#--------------------------------------------- Configuration Bucket ---------------------------------------------#

config_bucket_name = "beckn-onix-config-bucket-{{ suffix }}"

#--------------------------------------------- Pub/Sub Topic Configuration ---------------------------------------------#

pubsub_topic_onix_name = "beckn-onix-platform-events-{{ suffix }}"

#--------------------------------------------- Service-Specific Infrastructure Provisioning Flags ---------------------------------------------#

provision_adapter_infra  = {{ "true" if provision_adapter_infra else "false" }}
provision_gateway_infra  = {{ "true" if provision_gateway_infra else "false" }}
provision_registry_infra = {{ "true" if provision_registry_infra else "false" }}

#--------------------------------------------- Adapter Service Configuration ---------------------------------------------#

adapter_ksa_name          = "adapter-ksa"
adapter_gsa_account_id    = "adapter-gsa-{{ suffix }}"
adapter_gsa_display_name  = "SA to access Beckn Onix Bucket"
adapter_gsa_description   = "Service Account for Adapter Service"
adapter_gsa_roles = [
  "roles/storage.admin",
  "roles/cloudtrace.agent",
  "roles/pubsub.admin",
  "roles/pubsub.publisher",
  "roles/secretmanager.admin",
  "roles/secretmanager.secretAccessor"
]
adapter_topic_name = "adapter-topic-{{ suffix }}"

#--------------------------------------------- Gateway Service Configuration ---------------------------------------------#

gateway_ksa_name         = "gateway-ksa"
gateway_gsa_account_id   = "beckn-onix-gateway-gsa-{{ suffix }}"
gateway_gsa_display_name = "Gateway GSA for {{ suffix }}"
gateway_gsa_description  = "GCP Service Account for Gateway service"
gateway_gsa_roles = [
  "roles/storage.admin",
  "roles/pubsub.publisher",
  "roles/pubsub.viewer",
  "roles/secretmanager.secretAccessor",
  "roles/secretmanager.admin"
]

#--------------------------------------------- Registry Service Configuration ---------------------------------------------#

registry_gsa_account_id   = "registry-user-{{ suffix }}"
registry_gsa_display_name = "Registry User SA"
registry_gsa_description  = "Service Account for Registry DB"
registry_gsa_roles = [
  "roles/storage.admin",
  "roles/cloudsql.client",
  "roles/pubsub.publisher",
  "roles/pubsub.viewer",
  "roles/cloudsql.instanceUser",
  "roles/secretmanager.secretAccessor",
  "roles/secretmanager.admin"
]
registry_ksa_name = "registry-ksa"

registry_admin_gsa_account_id   = "registry-admin-gsa-{{ suffix }}"
registry_admin_gsa_display_name = "Registry Admin GSA for {{ suffix }}"
registry_admin_gsa_description  = "GCP Service Account for Registry Admin functions"
registry_admin_gsa_roles = [
  "roles/storage.admin",
  "roles/cloudsql.client",
  "roles/pubsub.publisher",
  "roles/pubsub.viewer",
  "roles/cloudsql.instanceUser",
  "roles/secretmanager.secretAccessor",
  "roles/secretmanager.admin"
]
registry_admin_ksa_name = "registry-admin-ksa"

registry_db_instance_region    = "{{ region }}"
registry_db_instance_version   = "POSTGRES_17"
registry_db_instance_name      = "beckn-onix-db-instance-{{ suffix }}"
registry_db_instance_tier      = "{{ "db-perf-optimized-N-2" if deployment_size == "small" else "db-perf-optimized-N-4" }}"
registry_db_instance_labels = {
  "beckn" = "onix"
}
registry_db_instance_edition   = "ENTERPRISE_PLUS"
registry_db_aval_type          = "REGIONAL"
registry_db_instance_disk_size = 10
registry_db_instance_disk_type = "PD_SSD"
registry_db_ipv4               = true
registry_db_max_connections    = {{ 1000 if deployment_size == "small" else 2000 }}
registry_db_instance_cache     = true
registry_database_name         = "registry-db"

#--------------------------------------------- Subscription Service Configuration ---------------------------------------------#

subscription_ksa_name          = "subscription-ksa"
subscription_gsa_account_id    = "subscription-gsa-{{ suffix }}"
subscription_gsa_display_name = "Subscription GSA for {{ suffix }}"
subscription_gsa_description  = "GCP Service Account for Subscription service"
subscription_gsa_roles = [
  "roles/storage.admin",
  "roles/pubsub.subscriber",
  "roles/pubsub.publisher",
  "roles/pubsub.viewer",
  "roles/secretmanager.secretAccessor",
  "roles/secretmanager.admin"
]

#--------------------------------------------- Cloud Armor Configuration ---------------------------------------------#

enable_cloud_armor = {{ "true" if enable_cloud_armor else "false" }}
allowed_regions    = {{ allowed_regions | tojson }}
rate_limit_count   = {{ rate_limit_count }}
