# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

log:
  level: DEBUG
timeouts:
  read: 5s
  write: 10s
  idle: 120s
  shutdown: 15s
server:
  host: 0.0.0.0
  port: 8080
db:
  user: {{ registry_admin_database_user_sa_email }}
  name: {{ registry_database_name }}
  connectionName: {{ registry_db_connection_name }}
  maxOpenConns: 0
  maxIdleConns: 1000
  connMaxIdleTime: 10m
npClient:
  timeout: 10s
admin:
  operationRetryMax: 3
event:
  projectID: {{ project_id }}
  topicID: {{ onix_topic_name }}
setup:
  keyID: {{ registry.key_id }}
  subscriberID: {{ registry.subscriber_id }}
  url: {{ registry_url }}
  domain: "*"